<div class="flex w-full justify-center">
  <div class="container w-full">
    <!-- Header -->
    <div class="py-5 px-3 bg-habi rounded-sm my-3 flex-row flex">
      <h1 class="text-xl font-bold text-white">Apartamentos</h1>
      <!-- Create button -->
      <a class="ml-auto flex-row flex bg-white px-3 rounded-md items-center text-purple-800 tooltip"
        routerLink="create">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
            clip-rule="evenodd" />
        </svg>
        <span class="font-bold">Crear</span>
        <span class="tooltiptext">Crear Apartamento</span>
      </a>
    </div>
    <!-- Table -->
    <div style="min-height: 80%;" class="max-w-full">

      <!-- Filters -->
      <form class="flex flex-row mb-3">
        <!-- Location -->
        <div class="flex flex-col w-1/6">
          <label for="location" class="text-sm mb-1">* Localidad:</label>
          <input type="text" name="location" [(ngModel)]="filters.location"
            class="bg-gray-200 rounded-md focus:ring-brand focus:outline-none focus:border-brand px-2 focus:border-purple-600 border-2">
        </div>
        <!-- Created at -->
        <div class="flex flex-col w-1/6 ml-3">
          <label for="created-at" class="text-sm mb-1">* Fecha de creación:</label>
          <input type="date" name="created-at" [(ngModel)]="filters.created_at"
            class="bg-gray-200 rounded-md focus:ring-brand focus:outline-none focus:border-brand px-2 focus:border-purple-600 border-2">
        </div>
        <!-- Button search -->
        <div class="flex flex-col w-1/12 ml-3 mt-auto">
          <button class="px-3 bg-purple-800 rounded-md text-white font-bold" (click)="getApartments()">Filtrar</button>
        </div>
        <!-- Order -->
        <div class="float-right ml-auto mt-auto">
          <select
            class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand px-2 focus:border-purple-600 border-2"
            name="order" id="order" [(ngModel)]="filters.order" (ngModelChange)="getApartments()">
            <ng-container *ngFor=" let order of orderOptions">
              <option [ngValue]="order.value" class="flex justify-between">
                <span>{{order.label}} </span>
              </option>
            </ng-container>
          </select>
        </div>
      </form>
      <!-- End filters -->

      <!-- Loading -->
      <span class="flex h-5 w-5 relative mx-auto" *ngIf="isLoadingPage; else showTable">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-purple-800 opacity-75"></span>
        <span class="relative inline-flex rounded-full h-5 w-5 bg-habi"></span>
      </span>
      <ng-template #showTable>
        <!-- Table -->
        <table class="table-auto w-full border-collapse border border-slate-500 hover:border-collapse">
          <thead>
            <tr>
              <th class="border border-slate-600">Area</th>
              <th class="border border-slate-600"># Habitaciones</th>
              <th class="border border-slate-600">Presio</th>
              <th class="border border-slate-600">Dirección</th>
              <th class="border border-slate-600">Dueño</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let apartment of apartments; let i = index" class="text-center">
              <td class="border border-slate-700">{{apartment.area}} m<sup>2</sup></td>
              <td class="border border-slate-700">{{apartment.number_rooms}}</td>
              <td class="border border-slate-700">{{apartment.price | currency}}</td>
              <td class="border border-slate-700">{{apartment.address}} - {{apartment.location}} - {{apartment.city}}
              </td>
              <td class="border border-slate-700">{{apartment.owner?.name}}</td>
              <td class="border border-slate-700">
                <div class="flex flex-col">
                  <button class="tooltip" (click)="confirmRemoveApartment(apartment.id, i)">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-full fill-red-700" viewBox="0 0 20 20"
                      fill="currentColor">
                      <path fill-rule="evenodd"
                        d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                        clip-rule="evenodd" />
                    </svg>
                    <span class="text-xs">Eliminar</span>
                    <span class="tooltiptext">Eliminar Apartamento</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </div>
    <!-- Pagination -->
    <div class="flex items-center space-x-1 mt-3 justify-center">
      <button class="flex items-center px-2 mr-1 text-gray-500 bg-gray-300 rounded-md"
        [ngClass]="{'hover:bg-purple-800 hover:text-white font-bold':filters.page > 1}" [disabled]="filters.page === 1"
        (click)="changePage(filters.page-1)">
        Anterior
      </button>
      <button class="px-2 mr-1 text-gray-700 bg-gray-200 rounded-md"
        [ngClass]="{'hover:bg-purple-800 hover:text-white font-bold': filters.page !== i + 1}"
        *ngFor="let page of pagesToShow; let i=index" (click)="changePage(i+1)" [disabled]="filters.page === page">
        {{page}}
      </button>
      <span class="px-2 mr-1" *ngIf="apartmentsResponse.pages > 3">...</span>
      <button href="#" class="px-2 mr-1 text-gray-500 bg-gray-300 rounded-md"
        [ngClass]="{'hover:bg-purple-800 hover:text-white font-bold':filters.page < apartmentsResponse.pages}"
        [disabled]="filters.page === apartmentsResponse.pages" (click)="changePage(filters.page+1)">
        Siguiente
      </button>
    </div>
  </div>
</div>
